body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.authorized {
    font-size: x-large;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    color: white;
    background: green;
}
.unauthorized {
    font-size: x-large;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    color: white;
    background: red;
}