ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    background: #56727C;
    height: 50px;
    font-family: arial, sans-serif;
    justify-content: space-between;
}

ul {
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

li:hover {
    background: black;
}

div:hover {
    padding: 5px;
    background: #415F69;
    border-radius: 10px;
}